# Загрузка Pandas и очистка данных

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/main_task.csv')

In [ ]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

In [12]:
df.sample(10)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
39294,id_9647,Paris,NaN,9649.0,4.5,NaN,4.0,[['Excellent baker in area with high competit....,/Restaurant_Review-g187147-d8520168-Reviews-Le...,d8520168
11685,id_13191,Paris,NaN,13193.0,3.5,NaN,7.0,"[['great views, nice food at reasonable price....",/Restaurant_Review-g187147-d1091107-Reviews-Le...,d1091107
6273,id_276,Krakow,"['Polish', 'American', 'European', 'Vegetarian...",277.0,4.0,$$ - $$$,85.0,"[['Enjoyed it', 'Very nice pit stop to have so...",/Restaurant_Review-g274772-d4844749-Reviews-Av...,d4844749
5550,id_6181,Madrid,NaN,6184.0,3.5,NaN,11.0,"[['Fresh and friendly'], ['06/27/2015']]",/Restaurant_Review-g187514-d5491218-Reviews-El...,d5491218
16976,id_5061,Berlin,NaN,5063.0,4.0,NaN,NaN,"[['Great kebabs and a huge menu'], ['01/17/201...",/Restaurant_Review-g187323-d12010133-Reviews-M...,d12010133
16916,id_2031,Madrid,NaN,2033.0,4.0,NaN,128.0,"[['Anti-customer ""Gastrobar""'], ['09/25/2017']]",/Restaurant_Review-g187514-d3877804-Reviews-Re...,d3877804
37034,id_5024,Rome,NaN,5025.0,5.0,NaN,5.0,"[['Amazing ice cream'], ['07/14/2017']]",/Restaurant_Review-g187791-d12347855-Reviews-G...,d12347855
16690,id_16004,London,NaN,16016.0,2.0,NaN,4.0,"[['Very poor, take a picnic to the park or go....",/Restaurant_Review-g186338-d1017669-Reviews-Pa...,d1017669
12552,id_5425,London,"['Middle Eastern', 'Cafe', 'British']",5434.0,4.5,$,67.0,"[['Great Breakfast!', 'Friday special'], ['11/...",/Restaurant_Review-g186338-d2390100-Reviews-Ba...,d2390100
30657,id_3881,London,"['Bar', 'British', 'Pub', 'Gastropub', 'Vegeta...",3888.0,4.5,$$ - $$$,25.0,"[['Good staff and food', 'Must visit!'], ['11/...",/Restaurant_Review-g186338-d11693189-Reviews-I...,d11693189

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [19]:
import requests
from bs4 import BeautifulSoup
relative_url = df.URL_TA[0]
url = f'https://www.tripadvisor.com/{relative_url}'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

for item in soup.findAll("a", class_='_2mn01bsa'):
    print(item.text)

$$ - $$$
French
International
European

In [16]:
money

'$$ - $$$'

In [4]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [5]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [6]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [7]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [8]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

ValueError: could not convert string to float: 'Madrid'

In [9]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

NameError: name 'y_pred' is not defined